body {
    font-family: Arial;
    background-color: beige;
    text-align: center;
}

#name {
    color: darkblue;
}

.my-photo {
    border: 3px solid black;
}

.text {
    font-size: 18px;
}

.link {
    color: darkblue;
    text-decoration: none;
}
.contact-page {
    background-color: #F5EFE6;
}

#contact-title {
    color: #6B4F3A;
}

.contact-info {
    color: #4A4036;
    font-size: 18px;
    margin-bottom: 25px;
}